.Ulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006fac;
}

.Llist {
    float: left;
}

.Llist a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.Llist a:hover {
    background-color: #0d6393;
}